#navbar {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

#navbar.scrolled {
  background-color: #158d91;
  transition: background-color 0.2s ease;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  transition: color 0.5s ease;
}

#navbar.scrolled .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: black;
  transition: color 0.5s ease;
}

#navbar.scrolled .navbar-brand {
  color: white;
}

.navbar-nav .nav-item {
  margin-right: 30px;  
}

@media (max-width: 768px) {
  .navbar-nav .nav-item {
    margin-right: 10px; 
  }}




.head-text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 85px;
}

@media (max-width: 1200px) {
    .head-text {
        font-size: 40px;
    }
    .content-row1 {
        margin-top: 150px; 
    }
}

@media (max-width: 992px) {
    .head-text {
        font-size: 35px;
    }
    .content-row1 {
        margin-top: 100px; 
    }
}

@media (max-width: 768px) {
    .head-text {
        font-size: 30px;
    }
    .content-row1 {
        margin-top: 50px; 
    }
}

@media (max-width: 576px) {
    .head-text {
        font-size: 45px;
        font-weight: 600;
        font-family: century-gothic, sans-serif;
    }
    .content-row1 {
        margin-top: 100px; 
    }

   
    .content-row .row.no-gutters > [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}






.responsive-text {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
   
    margin-left:70px;
}

.content-row {
    min-height: 400px; 
    margin-top:0;
}
@media (max-width: 768px) {
  .responsive-section {
      margin-left: 15px; 
  }
}

@media (max-width: 576px) {
  .responsive-section {
      font-size: 28px; 
      margin-left: 10px; 
  }
}


@media (max-width: 1200px) {
    .responsive-text {
        font-size: 35px;
        margin-left:0px;
    }
    .responsive-section {
        margin-top: 100px;
    }
    .content-row {
        min-height: 500px; 
    }
}

@media (max-width: 992px) {
    .responsive-text {
        font-size: 29px;
        margin-left:0px;
    }
    .responsive-section {
        margin-top: 80px;
    }
    .content-row {
        min-height: 300px; 
    }
}

@media (max-width: 768px) {
    .responsive-text {
        font-size: 26px;
        margin-left:0px;
    }
    .responsive-section {
        margin-top: 50px;
    }
    .content-row {
        min-height: 300px; 
    }
}

@media (max-width: 576px) {
    .responsive-text {
        font-size: 24px;
        font-weight: 400;
        margin-left:0px;
    }
    .responsive-section {
        margin-top: 50px;
    }

    .content-row {
        min-height: 250px; 
    }

    .row.no-gutters > [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}




.custom-card {
  perspective: 1000px;
  border: none;
  padding:20px;
  margin-top:150px;
}

.custom-card-inner {
  position: relative;
  width: 100%;
  max-width:440px;
  height: 500px; 
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 25px;
  border: none;
}
.custom-card-back p {
  margin: 0;
  padding: 10px;
  font-size: 1.1rem; 
  line-height: 1.5;
}

@media (max-width: 768px) {
  .custom-card-back p {
    font-size: 0.9rem; 
    padding: 5px; 
  }

  .custom-card-img {
    height: auto; 
  }
}

.custom-card:hover .custom-card-inner {
  transform: rotateY(180deg);
}

.custom-card-front,
.custom-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
  border: none;
}

.custom-card-front {
  background-color: transparent;
}

.custom-card-img {
  width: 90%;
  height: 100%;
  object-fit: cover; 
  border-radius: 25px;
}

.custom-card-back {
  background-color: #158d91;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
}



.text-column {
  font-size: 1.25rem;
}

.hover-image {
  transition: transform 0.2s ease;
}

.hover-image:hover {
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  .cylindrical-card {
    height: 600px;
    width: 500px;
  }
}

@media (max-width: 1199.98px) {
  .cylindrical-card {
    height: 450px;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .cylindrical-card {
    height: 300px;
    width: 250px;
  }
}

@media (max-width: 576px) {
  .cylindrical-card {
    height: 300px;
    width: 250px;
  }

  .text-column {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.text-left-50px {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 60px;
  padding: 10px;
}

.text-left-20px {
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  margin-left: 60px;
  padding: 10px;
}

.text-right-100px {
  font-size: 8.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-right: 45px;
  padding: 10px;
  text-align: right;
  white-space: nowrap;
}

.text-right-24px {
  font-size: 1.1875rem;
  font-family: "Poppins", sans-serif;
  margin-right: 45px;
  padding: 10px;
  text-align: right;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .mb-0 {
    font-size: 28px;
  }

  .text1 {
    font-size: 15px;
  }

  .text2 {
    font-size: 10px;
  }

  .text3 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .text-left-50px,
  .text-left-20px {
    margin: 0;
  }

  .text-right-100px,
  .text-right-24px {
    padding: 0;
    margin: 0;
    text-align: center;
   

  }
}



/* BlogSection.css */

.cylindrical-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cylindrical-image {
  border-radius: 50%;
  height: 500px;
  width: 500px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.blog-text {
  margin-left: 16px;
  font-size: 11px;
  text-align: left;
}

.blog-title {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
  text-align: left;
}

@media (max-width: 768px) {
  .cylindrical-image {
    height: 150px;
    width: 150px;
  }
  
  .blog-text {
    font-size: 10px;
  }
  
  .blog-title {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .cylindrical-image {
    height: 400px;
    width: 400px;
  }
  
  .blog-text {
    font-size: 9px;
  }
  
  .blog-title {
    font-size: 13px;
  }
}


/* CollaboratorsSection.css */

.testimonial-container {
  background-color: white;
  padding: 10px;
  text-align: center;
}
.quote-icon {
  font-size: 3rem;
  color: #007bff;
}
.testimonial {
  font-size: 2rem;
  margin-bottom: 5px;
}
.author {
  
  font-size:1.25rem;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 50px 0;
 
}
.logo {
  margin: 20px;
  max-width: 100px;
  flex: 1 1 auto;
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.2);
}

.testimonial {
  margin: 20px;
}

.author {
  font-weight: bold;
}

.content-row2 {
  margin-top: 200px;
}

@media (max-width: 576px) {
  .content-row2 {
    margin-top: 30px;
  }

  .testimonial {
    font-size: 0.9rem;
  }

  .author {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

.footer {
  background-color: #0D6667;
  color: white;
  
}

.footer .bottom-left-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.footer .contact-column {
  text-align: right;
}

.footer .contact-column h4,
.footer .contact-column p {
  margin: 0;
  padding: 0;
}


